<h3>Graphs about the number of launches of each <a href="https://fastlane.tools" target="_blank">fastlane</a> tool<h3>
<h4><a href="https://github.com/fastlane/refresher" target="_blank">View the source code on GitHub</a></h4>

<h3>Total time saved (in hours)</h3>
<canvas id="duration"></canvas>

<h4>Current fastlane speed 🚀</h4>
<ul>
<li>Every <b>hour</b> that passes, fastlane runs for <b><%= @current_speed.round %> hours</b></li>
<li>Every <b>minute</b> that passes, fastlane runs for <b><%= (@current_speed / 60.0).round(2) %> hours</b></li>
<li>Last <b>week</b> fastlane ran for <b><%= @pass_time_in_hours.round %> hours</b>, that's <b><%= (@pass_time_in_hours / 24).round %> days</b>, or <b><%= (@pass_time_in_hours / 24 / 365).round %> years</b></li>
</ul>

<h3>Cumulative launches</h3>
<canvas id="cumulative"></canvas>
<h3>Number of launches</h3>
<canvas id="daily"></canvas>


<script type="text/javascript">
  function generateGraph(sel, data, labels) {
    var ctx = $(sel).get(0).getContext("2d");
    var data = {
      labels: labels,
      datasets: data
    };
    var myLineChart = new Chart(ctx).Line(data, {
      scaleBeginAtZero: true,
      responsive: true,
      animation : false,
      multiTooltipTemplate: "<\%= datasetLabel %> - <\%= value %>"
    });
  }

  generateGraph("#duration", [<%= raw(@duration.to_json) %>], <%= raw(@days) %>)
  generateGraph("#daily", <%= raw(@data.collect { |k, v| v }.to_json) %>, <%= raw(@days) %>)
  generateGraph("#cumulative", <%= raw(@cumulative.to_json) %>, <%= raw(@days) %>)
</script>

<%= @ci_ratio.round(2) %>% of the launches 
<% if params[:weeks] %>
  in the last <%= params[:weeks] %> weeks 
<% end %>
came from a CI machine

<h3><a href="https://github.com/fastlane/refresher" target="_blank">View the source code of 'refresher'</a></h3>
