<h3>Graphs about the number of launches of each <a href="https://fastlane.tools" target="_blank">fastlane</a> tool<h3>

<h4>Current fastlane speed 🚀</h4>
<ul>
<li>Every <b>hour</b> that passes, fastlane runs for <b><%= @current_speed.round %> hours</b></li>
<li>Every <b>minute</b> that passes, fastlane runs for <b><%= (@current_speed / 60.0).round(2) %> hours</b></li>
<li>Last <b>week</b> fastlane ran for <b><%= @pass_time_in_hours.round %> hours</b>, that's <b><%= (@pass_time_in_hours / 24).round %> days</b>, or <b><%= (@pass_time_in_hours / 24 / 365).round %> years</b></li>

<% hours_per_year = 252 * 8 %>
<% duration_in_hours = @duration_total / 60.0 / 60.0 %>
<% dev_years = duration_in_hours / hours_per_year %>
<li>fastlane has saved a total of <b><%= dev_years.round %> developer years</b> (252 work days)
</ul>

<h4>Absolute numbers 🚀</h4>
<ul>
<% fl_data = @cumulative.find { |a| a[:label] == "fastlane" } %>
<% if fl_data %>
  <li>Total number of <i>fastlane</i> launches: <b><%= fl_data[:data].last %></b></li>
<% end %>
<li>Total number of launches of all tools: <b><%= number_with_delimiter(@cumulative.collect { |a| a[:data].last }.sum) %></b></li>
</ul>

<h3>Cumulative launches</h3>
<canvas id="cumulative"></canvas>
<h3>Number of launches</h3>
<canvas id="daily"></canvas>

<%= @ci_ratio.round(2) %>% of the launches 
<% if params[:weeks] %>
  in the last <%= params[:weeks] %> weeks 
<% end %>
came from a CI machine

<!-- Javascript lol -->
<script type="text/javascript">
  function generateGraph(sel, data, labels) {
    var ctx = $(sel).get(0).getContext("2d");
    var data = {
      labels: labels,
      datasets: data
    };
    var myLineChart = new Chart(ctx , {
      type: "line",
      data: data,
      scaleBeginAtZero: true,
      responsive: true,
      animation : false,
      multiTooltipTemplate: "<\%= datasetLabel %> - <\%= value %>"
  });
  }

  generateGraph("#daily", <%= raw(@data.collect { |k, v| v }.to_json) %>, <%= raw(@days) %>)
  generateGraph("#cumulative", <%= raw(@cumulative.to_json) %>, <%= raw(@days) %>)
</script>
